@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On this site you can learn about those:</p>
    <ul class="list-unstyled">
        <li><a href="~/Disk/List">Disks</a></li>
        <li><a href="~/Author/List">Authors</a></li>
        <li><a href="~/Publisher/List">Publishers</a></li>
        <li><a href="~/Genre/List">Genres</a></li>
    </ul>
</div>
