@model CarShop.Models.Car
@{
    ViewBag.Title = "Add car";
}
<form asp-antiforgery="true" asp-action="create" asp-controller="home">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <label asp-for="Name" class="col-form-label col-sm-1 text-md-right font-weight-bold">Name:</label>
            <div class="col-sm-6">
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Power" class="col-form-label col-sm-1 text-md-right font-weight-bold">Power:</label>
            <div class="col-sm-6">
                <input type="number" asp-for="Power" class="form-control" />
                <span asp-validation-for="Power"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Price" class="col-form-label col-sm-1 text-md-right font-weight-bold">Price:</label>
            <div class="col-sm-6">
                <input type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="BrandId" class="col-form-label col-sm-1 text-md-right font-weight-bold">Brand: </label>
            <div class="col-sm-6">
                <select asp-for="BrandId" asp-items="@ViewBag.Select" class="form-control">
                    <option value="">Select producer</option>
                </select>
                <span asp-validation-for="BrandId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-1 text-md-right">
                <input type="submit" value="Send" class="btn btn-primary font-weight-bold" role="button" />
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}