@model CarShop.Models.Car
@{
    ViewBag.Title = "Delete car";
}

<div>
    <div class="row">
        <div class="col-form-label col-sm-1 text-md-right font-weight-bold">Name:</div>
        <div class="col-sm-5 text-md-left">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-form-label col-sm-1 text-md-right font-weight-bold">Power:</div>
        <div class="col-sm-5 text-md-left">
            @Html.DisplayFor(model => model.Power)
        </div>
    </div>
    <div class="row">
        <form asp-controller="Home" asp-action="Delete" method="post" class="col-sm-5 text-md-left">
            <div class="form-group">
                <input type="submit" value="Delete" />
            </div>
        </form>
    </div>
</div>
