@model MyApp.ViewModels.AuthorModel;
@{
    ViewData["Title"] = "Delete author";
}

<div>
    <h3>Are you sure you want to delete this author?</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">FName</th>
                <th scope="col">SName</th>
                <th scope="col">Birth date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.Stuff.Id</td>
                <td>@ViewBag.Stuff.FName</td>
                <td>@ViewBag.Stuff.SName</td>
                <td>@ViewBag.Stuff.BirthDate.ToString("d")</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <form method="post">
                    <input type="submit" value="Delete" />
                </form>
            </td>
            <td>
                <form action="~/Author/List">
                    <input type="submit" value="Cancel" />
                </form>
            </td>
        </tr>
    </table>
</div>
